@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);body {
  background-color: black;
  overflow: hidden;
}

#screen {
  width: 98vw;
  height: 98vh;
  margin: 1vh 1vw;
  padding-top: 10px;
}

#terminal-output {
  color: lightgreen;
  font-family: "Source Code Pro", monospace;
  overflow-y: hidden !important;
}

